[submodule "test_submodule"]
	path = test_submodule
	url = git@github.com:konsdibons/test_submodule.git
[submodule "PublicRepository"]
	path = PublicRepository
	url = https://github.com/JustryDeng/PublicRepository.git
