[submodule "test_submodule"]
	path = test_submodule
	url = git@github.com:konsdibons/test_submodule.git
[submodule "py4DSTEM"]
	path = py4DSTEM
	url = git@github.com:LBEM-CH/py4DSTEM.git
[submodule "torchslice"]
	path = torchslice
	url = git@github.com:LBEM-CH/torchslice.git
